<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end" (click)="RouterAddRestaurante()">
      <img src="https://cdn3.iconfinder.com/data/icons/restaurant-3-3-1/300/tool-add-food-meal-drink-512.png">
    </ion-avatar>
    <ion-label>
      <h2>Restaurante</h2>
      <p>Listado de Restaurantes</p>
    </ion-label>
  </ion-item>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content class="ion-padding wrapper">
 <ion-list class="bg-transparent">
  <ion-item lines="none" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
    <ion-avatar slot="start">
      <img src="https://cdn4.iconfinder.com/data/icons/food-drinks-v2/512/1_knife-fork-512.png">
    </ion-avatar>
    <ion-label>
      <h2>NOMBRE RESTAURANTE</h2>
      <h3>Encargado del restaurante</h3>
      <p>1234567890</p>
      <p>1234567890</p>
      <p>correorestau@gmail.com</p>
      <p>2021-03-19 13:16:28</p>
    </ion-label>
  </ion-item>
 </ion-list>
</ion-content>
